<div class="container">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <span class="fs-4">Online catalog</span>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    {% comment %} <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Products</a></li> {% endcomment %}
                </ul>
                
                <div class="dropdown text-end">
                    {% if request.user.is_authenticated %}
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user.username|title }} <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                            <li><a class="dropdown-item" href="#">CRUD</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                        </ul>
                    {% else %}
                        <a href="{% url 'login' %}" type="button" class="btn btn-outline-primary me-2">Login</a>
                        <a href="{% url 'register' %}" type="button" class="btn btn-primary">Sign-up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
</div>